/*************************
Mixins
*************************/
/*************************
Color Swatcehs
*************************/
/*************************
Breakpoints
*************************/
h1 {
  font-size: 2.625em;
  font-weight: 400;
  line-height: 2.625rem;
  color: #b1bf74; }

h2 {
  font-size: 1.625rem;
  font-weight: 600;
  color: #b1bf74; }

h3 {
  font-size: 1.25rem;
  font-weight: 700; }

h4 {
  font-size: 1.25rem;
  font-weight: 600; }

body, p {
  font-size: 1rem;
  color: #222222;
  line-height: 2rem;
  margin-bottom: 1rem; }

.sub-head {
  text-align: center;
  text-transform: uppercase;
  margin-top: 3.750rem;
  position: relative; }
  .sub-head:before, .sub-head:after {
    content: "";
    height: 1px;
    background: black;
    display: inline-block;
    width: 30%;
    position: absolute;
    top: 1rem; }
    @media only screen and (max-width: 1200px) {
      .sub-head:before, .sub-head:after {
        width: 25%; } }
    @media only screen and (max-width: 900px) {
      .sub-head:before, .sub-head:after {
        width: 20%; } }
    @media only screen and (max-width: 740px) {
      .sub-head:before, .sub-head:after {
        content: none; } }
  .sub-head:before {
    left: -0.750rem; }
  .sub-head:after {
    right: -0.750rem; }

.light-capital {
  text-transform: uppercase;
  color: #9d9d9d;
  font-weight: 600; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

body {
  background-color: black; }
  @media only screen and (min-width: 640px) {
    body {
      background-image: url(../library/images/body-background.png);
      background-size: contain; } }

.row .row {
  margin: 0 !important; }

#inner-content {
  background: white; }

#main {
  padding-top: 2rem;
  padding-bottom: 5.125em; }

.intro-bar {
  background: #cdc8b4;
  text-align: center;
  padding: 0.5rem 0; }
  .intro-bar p {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0.5rem 0 !important; }

.button {
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 1px #90928b;
  -moz-box-shadow: 1px 1px 1px #90928b;
  box-shadow: 1px 1px 1px #90928b; }
  .button:after {
    content: "\00BB";
    margin-left: 4px; }

@media only screen and (min-width: 1024px) {
  .border-columns .columns:first-child {
    border-right: 1px solid #cdc8b4;
    padding-right: 2rem !important;
    width: 62.666667% !important; }
  .border-columns .columns:last-child {
    padding-left: 2rem !important;
    width: 37.33333% !important; } }

.header {
  background: #FFFFFF;
  padding-top: 2.5rem;
  padding-bottom: 0.750rem; }
  @media only screen and (max-width: 640px) {
    .header {
      padding-bottom: 0; }
      .header .columns {
        padding: 0 !important; }
      .header .logo {
        padding: 0 1rem !important; } }
  .header .social-links {
    list-style: none;
    float: right;
    margin: 0.25rem 1.75rem 0.1rem 0; }
    @media only screen and (max-width: 1024px) {
      .header .social-links {
        float: none;
        margin: 2rem auto 1rem;
        text-align: center; } }
    .header .social-links li {
      display: inline-block;
      padding: 0 2px;
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 30px 30px; }
      .header .social-links li a {
        font-size: 0;
        display: block;
        width: 25px;
        height: 25px; }
      .header .social-links li.facebook {
        /*background-image: url(../library/images/facebook.png);*/
        background-image: url(../library/foundation-icons/svgs/fi-social-facebook.svg); }
      .header .social-links li.twitter {
        /*background-image: url(../library/images/twitter.png);*/
        background-image: url(../library/foundation-icons/svgs/fi-social-twitter.svg); }
      .header .social-links li.youtube {
        /*background-image: url(../library/images/youtube.png);*/
        background-image: url(../library/foundation-icons/svgs/fi-social-youtube.svg); }
      .header .social-links li.linkedIn {
        /*background-image: url(../library/images/linkedin.png);*/
        background-image: url(../library/foundation-icons/svgs/fi-social-linkedin.svg); }
      .header .social-links li.blog {
        display: none; }

.logo {
  text-align: center; }

@media only screen and (min-width: 640px) {
  .top-bar {
    text-align: center; } }
@media only screen and (max-width: 640px) {
  .top-bar {
    background: #b1bf74; } }
.top-bar.expanded {
  background: #b1bf74; }
  .top-bar.expanded .title-area {
    background: #b1bf74; }
@media only screen and (min-width: 640px) {
  .top-bar .top-bar-section {
    float: none;
    display: inline-block; } }
.top-bar .top-bar-section ul li {
  position: relative; }
  @media only screen and (max-width: 640px) {
    .top-bar .top-bar-section ul li {
      background: #b1bf74; } }
  @media only screen and (min-width: 640px) {
    .top-bar .top-bar-section ul li.current-menu-item a {
      color: #000; } }
@media only screen and (min-width: 640px) and (min-width: 640px) {
  .top-bar .top-bar-section ul li .dropdown li a {
    border-bottom: 2px solid #cdc8b4; }
    .top-bar .top-bar-section ul li .dropdown li a:hover {
      border-bottom: 2px solid #b1bf74; } }
  @media only screen and (min-width: 640px) {
    .top-bar .top-bar-section ul li .dropdown li + li:before {
      content: none !important; } }
  .top-bar .top-bar-section ul li a {
    text-decoration: none !important;
    letter-spacing: 0.03rem; }
    @media only screen and (min-width: 640px) {
      .top-bar .top-bar-section ul li a {
        border-bottom: 2px solid #FFFFFF; }
        .top-bar .top-bar-section ul li a:hover {
          border-bottom: 2px solid #b1bf74; } }
    @media only screen and (max-width: 1177px) {
      .top-bar .top-bar-section ul li a {
        font-size: 0.9rem;
        letter-spacing: 0; } }
    @media only screen and (max-width: 1050px) {
      .top-bar .top-bar-section ul li a {
        font-size: 0.8rem; } }
    @media only screen and (max-width: 640px) {
      .top-bar .top-bar-section ul li a {
        color: white;
        padding: 0.5rem 1rem; } }
@media only screen and (min-width: 640px) {
  .top-bar .top-bar-section ul li + li:before {
    content: "|";
    position: absolute;
    left: -1px;
    top: .7rem;
    color: #b1bf74; } }

.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
  color: white; }

.toggle-topbar.menu-icon a {
  text-decoration: none !important; }

.home p {
  line-height: 1.75rem; }
.home #main {
  background-image: none; }

.home-carousel-container {
  position: relative; }
  .home-carousel-container .slick-slider {
    overflow: hidden;
    margin-bottom: 0;
    width: 100%; }
    .home-carousel-container .slick-slider img {
      width: 100%; }
  .home-carousel-container .slick-slide {
    position: relative; }
  .home-carousel-container .caption-container {
    position: absolute;
    width: 100%;
    z-index: 9;
    text-align: center;
    top: 50%;
    transform: translateY(-50%); }
    @media only screen and (max-width: 640px) {
      .home-carousel-container .caption-container {
        position: relative;
        top: auto;
        transform: none; } }
    .home-carousel-container .caption-container .caption-bar {
      background: rgba(0, 0, 0, 0.6);
      margin-bottom: 4rem; }
      @media only screen and (max-width: 820px) {
        .home-carousel-container .caption-container .caption-bar {
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 640px) {
        .home-carousel-container .caption-container .caption-bar {
          margin-bottom: 0; } }
      .home-carousel-container .caption-container .caption-bar h1 {
        color: white;
        font-size: 4.750rem;
        font-weight: 100;
        line-height: 5.750rem; }
        @media only screen and (max-width: 820px) {
          .home-carousel-container .caption-container .caption-bar h1 {
            font-size: 3rem;
            line-height: 3rem; } }
    .home-carousel-container .caption-container .button {
      font-weight: 400;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .home-carousel-container .caption-container .button:after {
        content: none; }
      @media only screen and (min-width: 820px) {
        .home-carousel-container .caption-container .button {
          font-size: 1rem;
          padding: 1.25rem !important; } }
      @media only screen and (max-width: 640px) {
        .home-carousel-container .caption-container .button {
          width: 100%;
          margin-bottom: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0; } }

.pic-columns {
  padding: 0 0.875rem; }
  .pic-columns .columns {
    padding: 0 !important; }
    .pic-columns .columns img {
      padding: 0 0.25rem 2.5rem;
      width: 100%; }

#main {
  background-image: url(../library/images/content-background.png);
  background-repeat: no-repeat;
  background-position: right center; }

.header-image img {
  width: 100%; }

.page-title {
  text-align: center;
  text-transform: uppercase; }

.archive article:last-child hr {
  display: none; }

.agents {
  margin-top: 2rem !important; }
  @media only screen and (min-width: 1024px) {
    .agents li {
      border-right: 1px solid #cdc8b4;
      padding: 0 2rem !important; }
      .agents li:nth-child(3n) {
        border: none; } }
  .agents h3 a {
    margin-bottom: 0;
    line-height: 1rem;
    color: black;
    transition: color 300ms ease; }
    .agents h3 a:hover {
      color: #b1bf74; }
  .agents p, .agents a {
    font-weight: 700;
    color: #9b9169; }
    .agents p:hover, .agents a:hover {
      color: #7d7554; }

.back.button {
  margin-left: 1rem; }
  .back.button:after {
    content: none; }

.footer a {
  transition: color 300ms ease; }
@media only screen and (max-width: 640px) {
  .footer .columns {
    padding: 0 !important; } }
.footer .upper-footer {
  height: 10.625rem;
  width: 100%;
  background-color: #cdc8b4;
  background-image: url(../library/images/pattern.png); }
.footer .lower-footer {
  padding: 2rem 0; }
.footer h4 {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0.5rem; }
  @media only screen and (max-width: 640px) {
    .footer h4 {
      padding: 0 1rem; } }
.footer .social-links {
  list-style: none;
  margin-left: 0; }
  .footer .social-links li {
    display: inline-block; }
    @media only screen and (max-width: 640px) {
      .footer .social-links li {
        width: 100%;
        border-bottom: 1px solid white; } }
    @media only screen and (min-width: 640px) {
      .footer .social-links li + li:before {
        content: "|";
        color: white;
        padding: 0 0.625rem; } }
    .footer .social-links li a {
      color: #b1bf74;
      font-weight: 600; }
      .footer .social-links li a:hover {
        color: #9daf51; }
      @media only screen and (max-width: 640px) {
        .footer .social-links li a {
          line-height: 40px;
          padding: 0 1rem; } }
.footer .contact-info {
  list-style: none;
  margin-left: 0;
  margin-bottom: 4.375rem; }
  .footer .contact-info li {
    color: white;
    font-weight: 600;
    margin-bottom: 0.15rem; }
    @media only screen and (max-width: 640px) {
      .footer .contact-info li {
        padding: 0 1rem; } }
    .footer .contact-info li a {
      color: white; }
      .footer .contact-info li a:hover {
        color: #9daf51; }
    .footer .contact-info li:before {
      position: relative;
      top: 0.250rem;
      padding-right: 0.750rem; }
    .footer .contact-info li.phone:before {
      content: url(../library/images/phone.png); }
    .footer .contact-info li.address:before {
      content: url(../library/images/house.png); }
    .footer .contact-info li.email:before {
      content: url(../library/images/email.png); }
.footer #menu-footer-menu {
  margin-left: 0;
  list-style: none; }
  .footer #menu-footer-menu li {
    display: inline-block;
    font-weight: 600; }
    @media only screen and (max-width: 640px) {
      .footer #menu-footer-menu li {
        width: 100%;
        border-bottom: 1px solid white; } }
    @media only screen and (min-width: 640px) {
      .footer #menu-footer-menu li + li:before {
        content: "|";
        color: white;
        padding: 0 0.625rem; } }
    .footer #menu-footer-menu li.current-menu-item a {
      color: #b1bf74; }
    .footer #menu-footer-menu li a {
      color: white; }
      .footer #menu-footer-menu li a:hover {
        color: #b1bf74; }
      @media only screen and (max-width: 640px) {
        .footer #menu-footer-menu li a {
          line-height: 40px;
          padding: 0 1rem; } }

@media only screen and (max-width: 640px) {
  .wildfire {
    text-align: center; } }
.wildfire p {
  color: white;
  font-size: 9px;
  line-height: 8px;
  position: relative;
  top: -9px;
  margin-left: 3px; }
@media only screen and (min-width: 640px) {
  .wildfire .orange {
    fill: #8e9e49;
    transition: fill ease 300ms; } }
.wildfire a:hover .orange {
  fill: #F7941E; }

.home .IDX-showcaseTable {
  margin: 0 0 2rem !important; }
.home .IDX-showcaseRow {
  width: 100% !important; }
.home .IDX-showcaseCell {
  width: 24% !important;
  height: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  line-height: 1rem !important;
  border: none !important; }
  @media only screen and (max-width: 1024px) {
    .home .IDX-showcaseCell {
      width: 48% !important; } }
  @media only screen and (max-width: 640px) {
    .home .IDX-showcaseCell {
      width: 100% !important; } }
.home .IDX-showcasePhoto {
  max-height: none !important;
  margin-bottom: 0.5rem; }

.IDX-wrapper-standard .IDX-navbar-default {
  background-color: #cdc8b4;
  border-color: #cdc8b4; }
  .IDX-wrapper-standard .IDX-navbar-default a {
    font-weight: 600; }
  .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav > .IDX-active > a, .IDX-wrapper-standard .IDX-navbar-default .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav > .IDX-active > a:focus, .IDX-wrapper-standard .IDX-navbar-default .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav > .IDX-active > a:hover {
    background-color: #9daf51 !important; }
  .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav > li > a:focus, .IDX-wrapper-standard .IDX-navbar-default .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav > li > a:hover {
    background-color: #b1bf74 !important; }
.IDX-wrapper-standard .IDX-navbar {
  margin-top: 2rem; }

.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav > li > a:focus, .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav > li > a:hover {
  background-color: #b1bf74 !important; }

.IDX-wrapper-standard #IDX-action-buttons {
  padding: 0 0.9rem; }

.IDX-wrapper-standard .IDX-btn-primary {
  color: #fff;
  background-color: #b1bf74 !important;
  border-color: #b1bf74 !important;
  font-weight: 600 !important; }
  .IDX-wrapper-standard .IDX-btn-primary:hover {
    background-color: #9daf51 !important;
    border-color: #b1bf74 !important; }

#IDX-searchNavWrapper {
  background-color: #cdc8b4;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 15px;
  padding-left: 15px; }
  #IDX-searchNavWrapper li {
    padding: 0; }
    #IDX-searchNavWrapper li a {
      padding: 10px 15px;
      display: block;
      color: white;
      font-weight: 600;
      font-family: "raleway", sans-serif; }
      #IDX-searchNavWrapper li a:hover {
        background-color: #b1bf74; }
  #IDX-searchNavWrapper .IDX-nav-mapsearch {
    background: #9daf51; }
    #IDX-searchNavWrapper .IDX-nav-mapsearch span {
      color: white;
      font-weight: 600;
      display: block;
      padding: 10px 15px;
      font-family: "raleway", sans-serif; }

#IDX-mapContainer {
  width: 100%; }

#IDX-main {
  margin-top: 2rem; }

.IDX-wrapper-standard .IDX-alert-success, .IDX-wrapper-standard .IDX-alert-info {
  background-color: #cdc8b4;
  border-color: #cdc8b4;
  color: #FFFFFF;
  font-weight: 600; }

.IDX-wrapper-standard #IDX-saveSearch, .IDX-wrapper-standard #IDX-newSearch, .IDX-wrapper-standard #IDX-modifySearch {
  background-color: #b1bf74;
  font-weight: 600; }
  .IDX-wrapper-standard #IDX-saveSearch:hover, .IDX-wrapper-standard #IDX-newSearch:hover, .IDX-wrapper-standard #IDX-modifySearch:hover {
    background-color: #9daf51; }

.IDX-wrapper-standard .select2-container.select2-container-multi .select2-choices .select2-search-choice {
  background: #9daf51; }

.IDX-wrapper-standard a {
  color: #b1bf74;
  font-weight: 600; }
  .IDX-wrapper-standard a:hover {
    text-decoration: none;
    color: #9daf51; }

.IDX-wrapper-standard .IDX-resultsPhoto {
  width: 35%; }
  @media only screen and (max-width: 1024px) {
    .IDX-wrapper-standard .IDX-resultsPhoto {
      width: 50%; } }
  @media only screen and (max-width: 640px) {
    .IDX-wrapper-standard .IDX-resultsPhoto {
      width: 100%; } }

.IDX-wrapper-standard .IDX-resultsAddress, .IDX-wrapper-standard .IDX-resultsMainInfo.IDX-panel-default {
  width: 65%; }
  @media only screen and (max-width: 1024px) {
    .IDX-wrapper-standard .IDX-resultsAddress, .IDX-wrapper-standard .IDX-resultsMainInfo.IDX-panel-default {
      width: 50%; } }
  @media only screen and (max-width: 640px) {
    .IDX-wrapper-standard .IDX-resultsAddress, .IDX-wrapper-standard .IDX-resultsMainInfo.IDX-panel-default {
      width: 100%; } }

.IDX-wrapper-standard .IDX-resultsAddress {
  font-size: 2rem;
  line-height: 2.25rem; }

#IDX-registration .IDX-btn-primary {
  background-color: #b1bf74;
  border-color: #b1bf74; }
  #IDX-registration .IDX-btn-primary:hover {
    background-color: #9daf51;
    border-color: #9daf51; }

.IDX-wrapper-standard #IDX-saveProperty {
  background-color: #b1bf74;
  border-color: #b1bf74;
  font-weight: 600; }
  .IDX-wrapper-standard #IDX-saveProperty:hover {
    background-color: #9daf51;
    border-color: #9daf51; }

.IDX-wrapper-standard .IDX-panel-primary, .IDX-wrapper-standard a.IDX-thumbnail.active, .IDX-wrapper-standard a.IDX-thumbnail:focus, .IDX-wrapper-standard a.IDX-thumbnail:hover {
  border: 1px solid #cdc8b4; }

.IDX-wrapper-standard .IDX-panel-primary > .IDX-panel-heading {
  background-color: #cdc8b4;
  border-color: #cdc8b4;
  font-weight: 600; }

#IDX-contactFormWrap {
  border: none; }
  @media only screen and (max-width: 640px) {
    #IDX-contactFormWrap {
      float: none;
      width: 100%; } }

.IDX-wrapper-standard #IDX-email {
  width: 100%; }

.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-toggle:focus, .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-toggle:hover {
  background-color: #cdc8b4 !important; }

.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-collapse, .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-form {
  border-color: #9b9169 !important; }

.featured-properties {
  text-align: center; }
  .featured-properties a h2 {
    line-height: 1.6rem; }
  .featured-properties a .feature-image {
    position: relative;
    margin-bottom: 0.5rem;
    display: block; }
    .featured-properties a .feature-image:after {
      content: "";
      background-color: transparent;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      transition: all ease 300ms; }
  .featured-properties a:hover .feature-image:after {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../library/foundation-icons/svgs/fi-magnifying-glass.svg);
    background-repeat: no-repeat;
    background-position: center center; }
