.featured-properties{
	text-align: center;
	a{
		h2{
			line-height: 1.6rem;
		}
		.feature-image{
			position: relative;
			margin-bottom: 0.5rem;
			display: block;
			&:after{
				content: "";
				background-color: transparent;
				width: 100%;
				top: 0;
				bottom: 0;
				left: 0;
				position: absolute;
				transition: all ease 300ms;
			}
		}
		&:hover{
			.feature-image:after{
				background-color: rgba(#000, 0.6);
				background-image: url(../library/foundation-icons/svgs/fi-magnifying-glass.svg);
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
}