.footer{
	a{
		transition: color 300ms ease;
	}
	.columns{
		@include breakpoint($mobile){
			padding: 0 !important;
		}
	}
	.upper-footer{
		height: 10.625rem;
		width: 100%;
		background-color: $sand;
		background-image: url(../library/images/pattern.png);
	}
	.lower-footer{
		padding: 2rem 0;
	}
	h4{
		color: #ffffff;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
		@include breakpoint($mobile){
			padding: 0 1rem;
		}
	}
	.social-links{
		list-style: none;
		margin-left: 0;
		li{
			display: inline-block;
			@include breakpoint($mobile){
				width: 100%;
				border-bottom: 1px solid white;
			}
			&+li:before{
				@include minbreakpoint($mobile){
					content: "|";
					color: white;
					padding: 0 0.625rem;
				}
			}
			a{
				color: $green;
				font-weight: 600;
				&:hover{
					color: darken($green, 10%);
				}
				@include breakpoint($mobile){
					line-height: 40px;
					padding: 0 1rem;
				}
			}
		}
	}
	.contact-info{
		list-style: none;
		margin-left: 0;
		margin-bottom: 4.375rem;
		li{
			color: white;
			font-weight: 600;
			margin-bottom: 0.15rem;
			@include breakpoint($mobile){
				padding: 0 1rem;
			}
			a{
				color: white;
				&:hover{
					color: darken($green, 10%);
				}
			}
			&:before{ position: relative; top: 0.250rem; padding-right: 0.750rem;}
			&.phone:before{ content: url(../library/images/phone.png);}
			&.address:before{ content: url(../library/images/house.png);}
			&.email:before{ content: url(../library/images/email.png);}
		}
	}
	
	#menu-footer-menu{
		margin-left: 0;
		list-style: none;
		li{
			display: inline-block;
			font-weight: 600;
			@include breakpoint($mobile){
				width: 100%;
				border-bottom: 1px solid white;
			}
			&+li:before{
				@include minbreakpoint($mobile){
					content: "|";
					color: white;
					padding: 0 0.625rem;
				}
			}
			&.current-menu-item{
				a{
					color: $green;
				}
			}
			a{
				color: white;
				&:hover{
					color: $green;
				}
				@include breakpoint($mobile){
					line-height: 40px;
					padding: 0 1rem;
				}
			}
		}
	}
}

.wildfire{
	@include breakpoint($mobile){
		text-align: center;
	}
	p{
		color: white;
		font-size: 9px;
		line-height: 8px;
		position: relative;
		top: -9px;
		margin-left: 3px;
	}
	.orange{
		@include minbreakpoint($mobile){
			fill: darken($green, 15%);
			transition: fill ease 300ms;
		}
	}
	a:hover{
		.orange{
			fill: #F7941E;
		}
	}
}