* {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body{
	background-color: black;
	@include minbreakpoint($mobile){
		background-image: url(../library/images/body-background.png);
		background-size: contain;
	}
}

.row .row{
	margin: 0 !important;
}

#inner-content{
	background: white;
}

#main{
	padding-top: 2rem;
	padding-bottom: 5.125em;
}

.intro-bar{
	background: $sand;
	text-align: center;
	padding: 0.5rem 0;
	p{
		color: #FFFFFF;
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.5rem;
		margin: 0.5rem 0 !important;
	}
}

.button{
	font-weight: 700;
	text-transform: uppercase;
	-webkit-box-shadow: 1px 1px 1px #90928b;
	-moz-box-shadow:    1px 1px 1px #90928b;
	box-shadow:         1px 1px 1px #90928b;
	&:after{
		content: "\00BB";
		margin-left: 4px;
	}
}

.border-columns{
	@include minbreakpoint($tablet){
		.columns:first-child{
			border-right: 1px solid $sand;
			padding-right: 2rem !important;
			width: 62.666667% !important;
		}
		.columns:last-child{
			padding-left: 2rem !important;
			width: 37.33333% !important;
		}
	}
}