.header{
	background: #FFFFFF;
	padding-top: 2.5rem;
	padding-bottom: 0.750rem;
	@include breakpoint($mobile){
		padding-bottom: 0;
		.columns{
			padding: 0 !important;
		}
		.logo{
			padding: 0 1rem !important;
		}
	}
	.social-links{
		list-style: none;
		float: right;
		margin: 0.25rem 1.75rem 0.1rem 0;
		@include breakpoint($tablet){
			float: none;
			margin: 2rem auto 1rem;
			text-align: center;
		}
		li{
			display: inline-block;
			padding: 0 2px;
			background-position: top left;
			background-repeat: no-repeat;
			background-size: 30px 30px;
			a{
				font-size: 0;
				display: block;
				width: 25px;
				height: 25px;
			}
			&.facebook{
				/*background-image: url(../library/images/facebook.png);*/
				background-image: url(../library/foundation-icons/svgs/fi-social-facebook.svg);
			}
			&.twitter{
				/*background-image: url(../library/images/twitter.png);*/
				background-image: url(../library/foundation-icons/svgs/fi-social-twitter.svg);

			}
			&.youtube{
				/*background-image: url(../library/images/youtube.png);*/
				background-image: url(../library/foundation-icons/svgs/fi-social-youtube.svg);

			}
			&.linkedIn{
				/*background-image: url(../library/images/linkedin.png);*/
				background-image: url(../library/foundation-icons/svgs/fi-social-linkedin.svg);

			}
			&.blog{
				display: none;
			}
		}
	}
}

.logo{
	text-align: center;
}
