.home{
	p{
		line-height: 1.75rem;
	}
	#main{
		background-image: none;
	}
}

.home-carousel-container{
	position: relative;
	.slick-slider{
		overflow: hidden;
		margin-bottom: 0;
		width: 100%;
		img{
			width: 100%;
		}
	}
	.slick-slide{
		position: relative;
	}
	.caption-container{
		position: absolute;
		width: 100%;
		z-index: 9;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		@include breakpoint($mobile){
			position: relative;
			top: auto;
			transform: none;
		}
		.caption-bar{
			background: rgba(#000, 0.60);
			margin-bottom: 4rem;
			@include breakpoint(820){
				margin-bottom: 2rem;
			}
			@include breakpoint($mobile){
				margin-bottom: 0;
			}
			h1{
				color: white;
				font-size: 4.750rem;
				font-weight: 100;
				line-height: 5.750rem;
				@include breakpoint(820){
					font-size: 3rem;
					line-height: 3rem;
				}
			}
		}
		.button{
			font-weight: 400;
			-webkit-border-radius: 6px; 
			-moz-border-radius: 6px; 
			border-radius: 6px;
			-webkit-box-shadow: none;
			-moz-box-shadow:    none;
			box-shadow:         none;
			&:after{
				content: none;
			}
			@include minbreakpoint(820){
				font-size: 1rem;
				padding: 1.25rem !important;
			}
			@include breakpoint($mobile){
				width: 100%;
				margin-bottom: 0;
				-webkit-border-radius: 0; 
				-moz-border-radius: 0; 
				border-radius: 0;
			}
		}
	}
}

.pic-columns{
	padding: 0 0.875rem;
	.columns{
		padding: 0 !important;
		img{
			padding: 0 0.25rem 2.5rem;
			width: 100%;
		}
	}
}