.home{
	.IDX-showcaseTable{
		margin: 0 0 2rem !important;
	}
	.IDX-showcaseRow{
		width: 100% !important;
	}
	.IDX-showcaseCell{
		width: 24% !important;
		height: auto !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		line-height: 1rem !important;
		border: none !important;
		@include breakpoint($tablet){
			width: 48% !important;
		}
		@include breakpoint($mobile){
			width: 100% !important;
		}
	}
	.IDX-showcasePhoto{
		max-height: none !important;	
		margin-bottom: 0.5rem;
	}
}

.IDX-wrapper-standard{
	.IDX-navbar-default {
		background-color: $sand;
		border-color: $sand;
		a{
			font-weight: 600;
		}
		.IDX-navbar-nav>.IDX-active>a, .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>.IDX-active>a:focus, .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>.IDX-active>a:hover{
			background-color: darken($green, 10%) !important;
		}
		.IDX-navbar-nav>li>a:focus, .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>li>a:hover{
			background-color: $green !important;
		}
	}
	.IDX-navbar{
		margin-top: 2rem;		
	}
}

.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>li>a:focus, .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>li>a:hover {
	background-color: $green !important;
}

.IDX-wrapper-standard #IDX-action-buttons {
	padding: 0 0.9rem;
}

.IDX-wrapper-standard .IDX-btn-primary {
	color: #fff;
	background-color: $green !important;
	border-color: $green !important;
	font-weight: 600 !important;
	&:hover{
		background-color: darken($green, 10%) !important;
		border-color: $green !important;
	}
}

#IDX-searchNavWrapper{
	background-color: $sand;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-right: 15px;
	padding-left: 15px;
	li{
		padding: 0;
		a{
			padding: 10px 15px;
			display: block;
			color: white;
			font-weight: 600;
			font-family: "raleway", sans-serif;
			&:hover{
				background-color: $green;
			}
			
		}
	}
	.IDX-nav-mapsearch{
		background: darken($green, 10%);
		span{
			color: white;
			font-weight: 600;
			display: block;
			padding: 10px 15px;
			font-family: "raleway", sans-serif;
		}
	}
}

#IDX-mapContainer{
	width: 100%;
}

#IDX-main{
	margin-top: 2rem;
}

.IDX-wrapper-standard .IDX-alert-success, .IDX-wrapper-standard .IDX-alert-info {
	background-color: $sand;
	border-color: $sand;
	color: #FFFFFF;
	font-weight: 600;
}

.IDX-wrapper-standard #IDX-saveSearch, .IDX-wrapper-standard #IDX-newSearch, .IDX-wrapper-standard #IDX-modifySearch{
	background-color: $green;
	font-weight: 600;
	&:hover{
		background-color: darken($green, 10%);
	}
}

.IDX-wrapper-standard .select2-container.select2-container-multi .select2-choices .select2-search-choice{
	background: darken($green, 10%);
}

.IDX-wrapper-standard a{
	color: $green;
	font-weight: 600;
	&:hover{
		text-decoration: none;
		color: darken($green, 10%);
	}
}

.IDX-wrapper-standard .IDX-resultsPhoto{
	width: 35%;
	@include breakpoint($tablet){
		width: 50%;
	}
	@include breakpoint($mobile){
		width: 100%;
	}
}

.IDX-wrapper-standard .IDX-resultsAddress, .IDX-wrapper-standard .IDX-resultsMainInfo.IDX-panel-default{
	width: 65%;
	@include breakpoint($tablet){
		width: 50%;
	}
	@include breakpoint($mobile){
		width: 100%;
	}
}

.IDX-wrapper-standard .IDX-resultsAddress{
	font-size: 2rem;
	line-height: 2.25rem;
}

#IDX-registration .IDX-btn-primary{
	background-color: $green;
	border-color: $green;
	&:hover{
		background-color: darken($green, 10%);
		border-color: darken($green, 10%);
	}
}

.IDX-wrapper-standard #IDX-saveProperty{
	background-color: $green;
	border-color: $green;
	font-weight: 600;
	&:hover{
		background-color: darken($green, 10%);
		border-color: darken($green, 10%);
	}
}

.IDX-wrapper-standard .IDX-panel-primary, .IDX-wrapper-standard a.IDX-thumbnail.active, .IDX-wrapper-standard a.IDX-thumbnail:focus, .IDX-wrapper-standard a.IDX-thumbnail:hover{
	border: 1px solid $sand;
}

.IDX-wrapper-standard .IDX-panel-primary>.IDX-panel-heading{
	background-color: $sand;
	border-color: $sand;
	font-weight: 600;
}

#IDX-contactFormWrap{
	border: none;
	@include breakpoint($mobile){
		float: none;
		width: 100%;
	}
}

.IDX-wrapper-standard #IDX-email {
	width: 100%;
}

.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-toggle:focus, .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-toggle:hover{
	background-color: $sand !important;
}

.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-collapse, .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-form{
	border-color: $lightbrown !important;
}