.top-bar{
	@include minbreakpoint($mobile){
		text-align: center;
	}
	@include breakpoint($mobile){
		background: $green;
	}
	&.expanded{
		background: $green;
		.title-area{
			background: $green;
		}
	}
	.top-bar-section{ 
		@include minbreakpoint($mobile){
			float: none;
			display: inline-block;
		}
		ul{
			li{
				position: relative;
				@include breakpoint($mobile){
					background: $green;
				}
				@include minbreakpoint($mobile){
					&.current-menu-item{
						a{
							color: #000;
						}
					}
					.dropdown{
						li{
							a{
								@include minbreakpoint($mobile){
									border-bottom: 2px solid $sand;
									&:hover{
										border-bottom: 2px solid $green;
									}
								}
							}
						}
						li+li:before{
							content: none !important;
						}
					}
				}
				a{
					text-decoration: none !important;
					letter-spacing: 0.03rem;
					@include minbreakpoint($mobile){
						border-bottom: 2px solid #FFFFFF;
						&:hover{
							border-bottom: 2px solid $green;
						}
					}
					@include breakpoint(1177){
						font-size: 0.9rem;
						letter-spacing: 0;
					}
					@include breakpoint(1050){
						font-size: 0.8rem;
					}
					@include breakpoint($mobile){
						color: white;
						padding: 0.5rem 1rem;
					}
				}
			}
			li+li:before{
				@include minbreakpoint($mobile){
					content: "|";
					position: absolute;
					left: -1px;
					top: .7rem;
					color: $green;
				}
			}
		}
	}
}

.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a{
	color: white;
}

.toggle-topbar.menu-icon{
	a{
		text-decoration: none !important;
	}
}