/*************************
Mixins
*************************/

@mixin raleway($size, $weight, $height) {
	font-family: "Raleway", sans-sefif;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
}

@mixin breakpoint($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) { @content; }
}

@mixin minbreakpoint($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}
