#main{
	background-image: url(../library/images/content-background.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.header-image{
	img{
		width: 100%;
	}	
}

.page-title{
	text-align: center;
	text-transform: uppercase;
}

.archive{
	article{
		&:last-child{
			hr{
				display: none;
			}
		}
	}
}

.agents{
	margin-top: 2rem !important;
	li{
		@include minbreakpoint($tablet){
			border-right: 1px solid $sand;
			padding: 0 2rem !important;
			&:nth-child(3n){
				border: none;
			}
		}
	}
	h3 a{
		margin-bottom: 0;
		line-height: 1rem;
		color: black;
		transition: color 300ms ease;
		&:hover{
			color: $green;
		}
	}
	p, a{
		font-weight: 700;
		color: $lightbrown;
		&:hover{
			color: darken($lightbrown, 10%);
		}
	}
}

.back.button{
	margin-left: 1rem;
	&:after{
		content: none;
	}
}