h1{
	font-size: 2.625em;
	font-weight: 400;
	line-height: 2.625rem;
	color: $green;
}

h2{
	font-size: 1.625rem;
	font-weight: 600;
	color: $green;
}

h3{
	font-size: 1.25rem;
	font-weight: 700;
}

h4{
	font-size: 1.25rem;
	font-weight: 600;
}

h5{
	
}

h6{
	
}

body, p{
	font-size: 1rem;
	color: #222222;
	line-height: 2rem;
	margin-bottom: 1rem;
}

.sub-head{
	text-align: center;
	text-transform: uppercase;
	margin-top: 3.750rem;
	position: relative;
	&:before, &:after{
		content: "";
		height: 1px;
		background: black;
		display: inline-block;
		width: 30%;
		position: absolute;
		top: 1rem;
		@include breakpoint(1200){
			width: 25%;
		}
		@include breakpoint(900){
			width: 20%;
		}
		@include breakpoint(740){
			content: none;
		}
	}
	&:before{
		left: -0.750rem;
	}
	&:after{
		right: -0.750rem;
	}
}

.light-capital{
	text-transform: uppercase;
	color: #9d9d9d;
	font-weight: 600;
}