/*************************
Color Swatcehs
*************************/

$green: #b1bf74;
$lightbrown: #9b9169;
$sand: #cdc8b4;


/*************************
Breakpoints
*************************/

$tablet: 1024;
$mobile: 640;